@import "../valo/valo.scss";
@import "../../addons/stepper/stepper.scss";

@import "../common/configuration.scss";
@import "color-scheme-clarin.scss";
@import "../common/common.scss";
@import "sidebar.scss";

//Override unity's default theme variables (after importing configurtion.scss in order to overwrite values)
$font:                      "Source Sans Pro", sans-serif, Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana;
$font-size:                 14px;
$bg-color:                  #fafafa;
$headerBackgroundImage: 	none;
$bigTabHoverBgImage:        none;
$bigTabSelectedBgImage:     none;
$header-bg-color:		    #eee;
$header-border-color: 	  #d5d5d5;
$foot-border-color: 	    $header-border-color;
$footer-bg-color:		     $header-bg-color;
$content-bg-color:		    $bg-color;

@mixin font-face($family, $file, $path, $svg, $weight: normal, $style: normal) {
    @font-face  {
        font-family: $family;
        src: url($path + $file + '.eot');
        src: url($path + $file + '.eot?#iefix') format('embedded-opentype'), url($path + $file + '.woff') format('woff'), url($path + $file + '.ttf') format('truetype'), url($path + $file + '.svg##{$svg}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//here goes actual contents of our theme, in the main mixin
@mixin unityThemeValo {
    @include valo;
    @include stepper;
    @include vaadin-icons;
    @include unityCommon;
    @include sidebar;

    //Custom theme fonts
    //@include font-face('Source Sans Pro', 'source-sans-pro-v21-vietnamese_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular', './fonts/', 'source-sans-pro-v21-vietnamese_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular', 400, normal);
    //@include font-face('Roboto Slab', 'roboto-slab-v24-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular', './fonts/', 'source-sans-pro-v21-vietnamese_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular', 400, normal);

    //Custom theme css classes

    .unityThemeValo {
        background: none !important;
        flex: auto;
        background-color: $bg-color;
    }

    .header {
        width:100%;
        height: 65px;
        background-color: $header-bg-color;
        border-color: $header-border-color;
    }

    .footer {
        width:100%;
        height: 90px;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        margin-top: 50px;
        background-color: $footer-bg-color;
        border-color: $footer-border-color;
    }

    .clarin-logo {
        background-image: url('./clarin-logo-wide.png');
        background-size: 115px 46px;
        background-position-x: 5px;
        background-position-y: 2px;
        background-repeat: no-repeat;
    }

    .v-image-u-authn-logo {
        display: none;
    }

    .v-label-u-authn-title {
        display: none;
    }
/*
    .v-button {
        border: solid 1px $color-primary-1;
    }
*/
    .v-button-link {
        border: none !important;
    }

    .v-icon {
        color: $color-primary-1;
    }


    .u-textEndpointHeading {
        display: none;
    }

    .v-customcomponent > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        padding-right: 10px;
    }

    .u-button-grid-link {
        padding-left: 2px;
    }
}

/* Hide text in webhome endpoint */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #07426e;
    background-color: $bg-color;
    font-family: $font;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}