$color-grey-0: #F4F4F4;
$color-grey-1: #E5E5E5; //clarin secondary color, color-2
$color-grey-2: #C5C5C5; //Dark Blue 80%, color-1-80
$color-grey-3: #A3A3A3;

$color-black: #323232;
$color-white: #FFFFFF;
$color-v-table-border: #D4D4D4;

// Palette URL: http://paletton.com/#uid=23m0u0kw0w0fJL2nm-QyAmqIXdr */

$color-primary-0: #99CCDD; //#A2C037;;	//Main Primary color */
$color-primary-1: #0080AA;  //clarin secondary color, color-2
$color-primary-2: #39688B;  //Dark Blue 80%, color-1-80
$color-primary-3: #39688B;
$color-primary-4: #07426E;

$color-complement-0: #FF7C00;	// Main Complement color */
$color-complement-1: #FFBF82;
$color-complement-2: #FFA045;
$color-complement-3: #B35700;
$color-complement-4: #6B3400;

$tooltip-background: $color-primary-4;
$tooltip-active-background: $color-primary-4;

$font-color-dark: $color-black;
$font-color-light: $color-grey-0;

$icon-color: $color-primary-0;

$menuLeft-color: $font-color-light;
$menuLeft-bg-color: $color-primary-0;
$menuLeft-bg-right-border: $menuLeft-bg-color;
$menuLeft-hoover-color: $font-color-light;
$menuLeft-hoover-bg-color: $color-primary-3;
$menuLeft-active-bg-color: $color-primary-4;

$menuTop-color: $font-color-dark;
$menuTop-bg-color: $color-grey-0;
$menuTop-bottom-border: $menuTop-bg-color;

$hover-bg-color: $color-grey-0;

$button-border-color: transparent;

$smallButton-color: $icon-color;
$smallButton-hover-color: $icon-color;
$smallButton-bg-color: transparent;
$smallButton-hover-bg-color: $hover-bg-color;

$button-color: $font-color-dark;
$button-hover-color: $font-color-white;
$button-bg-color: $color-white;
$button-hover-bg-color: $color-primary-2;

$button-action-color: $font-color-white;
$button-action-bg-color: $color-primary-1;
$button-action-hover-bg-color: $color-primary-2;

$topMenuButton-color: $icon-color;
$topMenuButton-hover-color: $color-complement-2;
$topMenuButton-bg-color: transparent;
$topMenuButton-hover-bg-color: transparent;

$menubar-icon-color: $icon-color;

$content-bg-color: #FaFaFa;
$content-color: $font-color-dark;

$button-active-background: $content-background;

$selected-color: $color-primary-1;

//$v-background-color: $color-primary;
//$v-selection-color: $color-grey;
//$v-focus-color: $color-grey;
//$v-bevel: none;
//$v-gradient: none;
//$v-bevel-depth: 0px;