@import "../valo/valo.scss";
@import "../../addons/stepper/stepper.scss";
@import "../common/configuration.scss";
@import "color-scheme-clarin.scss";
@import "../common/common.scss";
@import "sidebar.scss";

@mixin unityThemeValo {
	@include valo;
	@include stepper;
	@include vaadin-icons;
	@include unityCommon;
	@include sidebar;

    .unityThemeValo {
        background: none !important;
        flex: auto;
        background-color: $bg-color;
    }

    .header {
        width:100%;
        height: 65px;
        background-color: $header-bg-color;
        border-color: $header-border-color;
    }

    .footer {
        width:100%;
        height: 90px;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        margin-top: 50px;
        background-color: $footer-bg-color;
        border-color: $footer-border-color;
    }

    .clarin-logo {
        background-image: url('./clarin-logo-wide.png');
        background-size: 115px 46px;
        background-position-x: 5px;
        background-position-y: 2px;
        background-repeat: no-repeat;
    }

    .v-image-u-authn-logo {
        display: none;
    }

    .v-label-u-authn-title {
        display: none;
    }

    .v-button-u-outdatedcred-update {
        background-color: $color-primary-1;
        color: $color-white;
    }

    .v-button {
        bg-color: $color-primary-1;
    }

     .v-button .v-icon {
         color: $color-primary-0; /* light icon */
     }

    .v-button-small .v-icon {
        color: $color-primary-1; /* dark icon */
    }

    .v-button-link {
        border: none !important;
    }

    .v-icon {
        color: $color-primary-1;
    }

    .u-textEndpointHeading {
        display: none;
    }

    .u-header {
        background: none;
    }

    .v-label-wrap-line {
        white-space: normal;
    }

/*
	https://localhost:2443/home/VAADIN/themes/fonts/
source-sans-pro-v11-vietnamese_latin-ext_latin-italic.woff2
*/

    .u-button-grid-link {
        padding-left: 2px;
    }

    .u-passwordQuality{
        background-color: transparent;
    }

    .u-password-hint {
        background-color: transparent;
    }

    .u-sidebar .u-rootContent > .v-expand .v-slot-u-leftMenu .u-leftMenu {
        color: $font-color-dark;
    }

    .u-sidebar .u-rootContent.minimal > .v-expand .v-slot-u-leftMenu .u-leftMenu .u-menuButton .u-menuButton-wrap .u-menuButton-caption {
        height: unset;
    }

    .u-bigTab {
        background: none;
    }

    img.v-icon {
        display: none;
    }

    .u-bigTab:hover {
        background: none;
        background-color: #99CCDD;
        box-shadow: 6px 6px 3px #07426E;
    }

    .u-bigTabSelected {
        background: none;
        box-shadow: 6px 6px 3px #07426E;
    }

    .u-bigTabSelected:hover {
        background-color: #99CCDD;
    }

     .v-tooltip {
        background-color: $content-bg-color;
    }

    .u-sidebar .u-rootContent > .v-expand .v-slot-u-leftMenu .u-leftMenu .u-menuButton.u-active {
        color: $color-white;
    }

/* Matched with bootstrap .container class */
  @media (min-width: 1200px) {
        .u-standalone-public-form {
            width: 1170px;
        }
    }
  @media (min-width: 992px) {
        .u-standalone-public-form {
            width: 970px;
        }
    }
    @media (min-width: 768px) {
        .u-standalone-public-form {
            width: 750px;
        }
    }

    .u-standalone-public-form {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Hide text in webhome endpoint */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #07426e;
    background-color: $bg-color;
    font-family: $font;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 .navbar {
    margin-bottom: 0px !important;
}

/* Hide icon in admin console left sidebar */
html body.v-ff.v-ff109.v-ff1090.v-gecko.v-mac div#main-element.v-app.unityThemeValo div.v-ui.v-scrollable div.v-customcomponent.v-widget.u-sidebar.v-customcomponent-u-sidebar.v-has-width.v-has-height div.v-horizontallayout.v-layout.v-horizontal.v-widget.v-has-width.v-has-height.u-rootContent.v-horizontallayout-u-rootContent div.v-expand div.v-slot.v-slot-u-leftMenu div.v-customcomponent.v-widget.v-has-width.v-has-height.u-leftMenu.v-customcomponent-u-leftMenu div.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width div.v-slot.v-slot-u-menuLabel div.v-customcomponent.v-widget.u-menuLabel.v-customcomponent-u-menuLabel.v-has-width div.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width div.v-slot.v-align-center.v-align-middle div.v-widget.v-has-caption.v-caption-on-top.v-has-width div#gwt-uid-5.v-caption img.v-icon {
    display:none;
}

html body.v-ff.v-ff109.v-ff1090.v-gecko.v-mac div#main-element.v-app.unityThemeValo div.v-ui.v-scrollable div.v-customcomponent.v-widget.u-sidebar.v-customcomponent-u-sidebar.v-has-width.v-has-height div.v-horizontallayout.v-layout.v-horizontal.v-widget.v-has-width.v-has-height.u-rootContent.v-horizontallayout-u-rootContent.minimal.v-horizontallayout-minimal div.v-expand div.v-slot.v-slot-u-leftMenu div.v-customcomponent.v-widget.v-has-width.v-has-height.u-leftMenu.v-customcomponent-u-leftMenu div.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width div.v-slot.v-slot-borderless.v-slot-u-left-menu-toggle div.v-button.v-widget.borderless.v-button-borderless.u-left-menu-toggle.v-button-u-left-menu-toggle span.v-button-wrap span.v-icon.Vaadin-Icons {
    color: $color-primary-4;
}